*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
!/.idea/navEditor.xml
andfun-kotlin-about-me/
andfun-kotlin-android-trivia/
andfun-kotlin-color-my-views/
andfun-kotlin-dessert-pusher/
andfun-kotlin-dev-bytes/
andfun-kotlin-dice-roller/
andfun-kotlin-gdg-finder/
andfun-kotlin-guess-it/
andfun-kotlin-mars-real-estate/
andfun-kotlin-sleep-tracker-with-recyclerview/
andfun-kotlin-sleep-tracker/
